@font-face {
  font-family: 'ProximaNova';
  font-display: fallback;
  src: url('/fonts/ProximaNova-Regular.woff') format('woff');
}

@font-face {
  font-family: 'ProximaNova';
  font-display: fallback;
  font-weight: bold;
  src: url('/fonts/ProximaNova-Bold.woff') format('woff');
}

* {
  box-sizing: border-box;
}

:root {
  --body-bg: #eff0f3;
  --body-bg-2: #fffffe;
  --headline-color: #0d0d0d;
  --text-color: #2a2a2a;
  --button-bg: #ff8e3c;
  --button-color: #0d0d0d;
  --tertiary-color: #d9376e;
  --gray-color: #5f6c7b;
  --error-color: #990505;
  --info-color: #174a8a;
}

html {
  font-size: 18px;
  line-height: 1.8;
}

body {
  font-family: 'ProximaNova', sans-serif;
  background-color: var(--body-bg);
  color: var(--text-color);
  margin: 0;
}

input,
button,
textarea {
  font: inherit;
}

h1,
h3,
ul,
p {
  margin: 0;
}

input,
textarea,
button {
  outline: none;
}

ul {
  padding-left: 0;
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  height: calc(100vh - 4rem);
}

.container main {
  flex: 1 0 auto;
}

.container footer {
  flex-shrink: 0;
}

.wrapper {
  width: 98%;
  max-width: 1040px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

.wrapper + .wrapper {
  margin-top: 2rem;
}

.left {
  width: 40%;
}

.right {
  width: 60%;
  height: auto;
  max-width: 550px;
}

.right svg {
  overflow: hidden;
}

.title {
  color: var(--headline-color);
  font-size: 3.5rem;
  line-height: 1.15;
  margin-bottom: 1rem;
}

.title span,
.subtitle span,
.playlist-total span,
.summary-text span {
  color: var(--tertiary-color);
}

.subtitle {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
  color: var(--gray-color);
}

.description {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.button {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 1.2rem 2rem;
  border: none;
  background-color: var(--button-bg);
  color: var(--button-color);
  border-radius: 3px;
}

.button:not(:disabled) {
  cursor: pointer;
}

.button:hover:not(:disabled) {
  box-shadow: 0 5px 15px -10px rgba(31, 18, 53, 0.6);
}

.input {
  width: 100%;
  border: 1px solid var(--gray-color);
  padding: 10px 0;
  text-indent: 1rem;
  font-size: 1rem;
  color: var(--text-color);
  border-radius: 3px;
  margin-bottom: 16px;
  transition: box-shadow 0.15s ease-in;
}

.input:focus {
  box-shadow: 0 0 0 1px var(--gray-color);
}

.input::placeholder {
  color: #c3cbd5;
}

.checkbox > div {
  display: flex;
  align-items: center;
  color: var(--gray-color);
}

.checkbox > div > span {
  margin-left: 8px;
  font-size: 0.9rem;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: load 1s infinite ease-in-out;
  vertical-align: middle;
}

.textarea {
  width: 50%;
  max-width: 559px;
}

.textarea textarea {
  transition: border-color 0.15s ease-in;
  border: 3px solid;
  border-radius: 3px;
  background-color: var(--body-bg-2);
  color: var(--text-color);
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  font-family: 'ProximaNova', sans-serif;
}

.artist-input {
  margin-bottom: 0;
}

.artist-label {
  font-size: 0.9rem;
  color: var(--gray-color);
}

.suggestion-list {
  background-color: var(--body-bg-2);
  padding: 0.5em;
  border-radius: 3px;
}

.suggestion-item {
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.15s ease-in;
}

.suggestion-item:hover {
  color: var(--tertiary-color);
}

.playlists {
  width: 49%;
  max-width: 400px;
  margin-left: 1rem;
}

.playlists-wrapper {
  max-height: 438px;
  overflow-y: auto;
}

.playlist {
  cursor: pointer;
  display: flex;
  background-color: var(--body-bg-2);
  margin-bottom: 0.5rem;
  border: 2px solid transparent;
  transition: border 0.15s ease-in;
  padding-right: 1rem;
  border-radius: 3px;
}

.playlist:hover:not(.playlist--selected) {
  border: 2px solid var(--gray-color);
}

.playlist--selected {
  border: 2px solid var(--button-bg);
}

.playlist-img img {
  height: auto;
  max-width: 60px;
  vertical-align: middle;
}

.playlist-img img[src*='music.svg'] {
  margin-top: 11px;
}

.playlist-details {
  margin-left: 0.5rem;
  padding-top: 3px;
}

.playlist-details span {
  display: block;
}

.playlist-title {
  color: var(--headline-color);
  font-size: 1rem;
  line-height: 1.3;
}

.playlist-total {
  font-size: 0.8rem;
  color: var(--gray-color);
}

.playlist-total span {
  display: inline;
}

.summary-wrapper {
  margin-top: 32px;
}

.summary-text {
  margin-bottom: 0.5rem;
}

.message-text {
  display: flex;
  align-items: center;
}

.error-text,
.info-text {
  margin-left: 8px;
}

.error-text {
  color: var(--error-color);
}

.info-text {
  color: var(--info-color);
}

.info-text span {
  color: var(--tertiary-color);
}

footer {
  margin-top: 10rem;
  text-align: center;
  font-size: 1rem;
  color: var(--gray-color);
}

footer a {
  color: var(--tertiary-color);
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  .right {
    display: none;
  }
  .left {
    width: 100%;
  }
}

@media screen and (max-width: 517px) {
  .wrapper:nth-child(2) {
    flex-direction: column;
  }
  .textarea,
  .playlists {
    width: 100%;
    margin-left: 0;
  }
  .playlists {
    margin-top: 16px;
  }
}
